@charset "UTF-8";
body {
  font: 100% Roboto Condensed, sans-serif;
  color: #c9191d;
}

.one {
  color: #9764da;
  background-color: #c9191d;
  height: 20％;
  width: 20％;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  background-color: #cccccc;
}

.content {
  height: 600px;
  width: 68%;
  background-color: #39eb7d;
  float: left;
}

.sidebar {
  height: 600px;
  width: 32%;
  float: right;
  background-color: #c9191d;
}

.site-main-inner::after {
  content: "";
  display: block;
  clear: both;
}