body {
  font: 100% Roboto Condensed, sans-serif;
  color: #000000;
  font-size: 32px;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.site-main {
  background-color: #cccccc;
}

.sidebar {
  height: 500px;
  width: 32%;
  float: left;
  background-color: #c9191d;
}

.sidebar + .content {
  width: 36%;
  height: 600px;
  float: left;
  background-color: #39eb7d;
}

.sidebar ~ .sidebar {
  width: 32%;
  height: 400px;
  float: right;
  background-color: #9764da;
}

.site-main-inner::after {
  content: "";
  display: block;
  clear: both;
}