$font-stack:    Helvetica, sans-serif
$primary-color: #c9191d
$secondary-color:#ccc

body
  font: 100% $font-stack
  color: $primary-color


.one
    color: $secondary-color
    background-color: $primary-color
    height: 20％
    width: 20％ 
