@import libs/base


body
  font: 100% $font-stack
  color: #000000
  font-size: 32px


.site-header
  background-color: $primary-color
  position: fixed
  z-index: 99
  width: 100%




.header-container
  width:80%
  max-width: 1200px
  margin-left: auto
  margin-right: auto
  position: relative


.site-logo
  // position: absolute
  color: $quinary-color
  top:10px
  left:10px
  right:10px


.container
  width: 80%
  max-width: 1200px
  margin-left: auto
  margin-right: auto


.site-main
  background-color: #cccccc
  

.sidebar
  height: 500px
  width: 32%
  float: left
  background-color: $primary-color

.sidebar + .content
  width: 36%
  height: 600px
  float: left
  background-color: $tertiary-color

// .content:last-child
//   width: 68%

.sidebar ~ .sidebar
  width: 32%
  height: 400px
  float: right
  background-color: $secondary-color 


.site-main-inner
  &::after
    content:''
    display: block
    clear: both

.center
  margin-left: auto
  margin-right: auto
  width: 80%
  height: 50px
  margin-bottom: 20px

.one
  background-color: $primary-color
  // position: absolute
  margin-left: 500px


.two
  background-color: $secondary-color
  // position: absolute


.three
  background-color: $tertiary-color
